{% extends "base.html" %}
{% block page_title %}本の詳細{% endblock %}
{% block content %}
<h1>本の詳細</h1>
<hr>
<div>
    <labeL>タイトル</labeL>
    <span>{{ book.title }}</span>
</div>
<div>
    <labeL>在庫数</labeL>
    <span>{{ book.stock.quantity }}</span>
</div>
<div>
    <labeL>出版社</labeL>
    <span>{{ book.publisher.name }}</span><!-- 変更-->
</div>
<div>
    <labeL>著者</labeL>
    <span>{% for author in book.authors.all %} {{ author.name }} {% endfor %}</span>
</div>
<div>
    <labeL>概要</labeL>
    <span>{{ book.summary }}</span>
</div>
{% endblock %}
