<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本の一覧</title>
    <link rel="stylesheet" href="{% static 'book/css/book_list.css' %}">
</head>
<body>
<h1>本の一覧</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>在庫数</th>
            <th>出版社</th>
            <th>著者</th>
            <th>概要</th>
        </tr>
    </thead>
    <tbody>
        {% if book_list %}
        {% for book in book_list %}
        <tr>
            <td><a href="{% url 'book:book-detail' book.id %}">{{ book.title }}</a></td>
            <td align="right">{{ book.stock.quantity }}</td>
            <td>{{ book.publisher.name }}</td>
            <td>{% for author in book.authors.all %} {{ author.name }} {% endfor %}</td><!-- 変更-->
            <td>{{ book.summary }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">登録されている本はありません。</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</body>
</html>